.dropify-wrapper {
    height: 100px;
}

.h-36p {
    height: 36px !important;
}
.stickys {
    position: static!important;
}
.iti {
    width: 100% !important;
}
span {cursor:pointer; }

.plus{
    width: 30px;
    height: 30px;
    background: #6c5ffc;
    border-radius: 4px;
    padding: 4px 4px 10px 6px;
    border: 1px solid #6c5ffc;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
}
.minus {
    width: 30px;
    height: 30px;
    background: #6c5ffc;
    border-radius: 4px;
    padding: 4px 4px 10px 6px;
    border: 1px solid #6c5ffc;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
}
.number input{
    height: 34px;
    width: 50%;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.badge-secondary {
    color: #fff;
    background-color: #6c5ffc;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}