/* Change the background color of the calendar */
.fc .fc-col-header-cell {
    background-color: #f0f0f0; /* light gray */
}

/* Change the font color and size of the days */
.fc .fc-daygrid-day-number {
    color: #007bff; /* blue */
    font-size: 16px;
    font-weight: bold;
}

/* Style the events */
.fc .fc-daygrid-event {
    background-color: #28a745; /* green */
    color: #ffffff; /* white */
    border: none;
    border-radius: 5px;
    padding: 5px;
}

/* Change the color of the selected day */
.fc .fc-daygrid-day.fc-day-today {
    background-color: #ffc107; /* yellow */
    color: #000000; /* black */
}
.fc-daygrid-day-frame:hover {
    cursor: pointer !important;
}

/* Customize the month header */
.fc .fc-toolbar-title {
    color: #17a2b8; /* teal */
    font-size: 24px;
    font-weight: bold;
}

.selected-day {
    background-color: #ffeb3b; /* Yellow */
    color: #000; /* Black text */
}

.register .active {
    border-bottom: 4px solid;
}

ul li a[href="#tab20"].active, 
ul li a[href="#tab21"].active {
  border-bottom: 4px solid; 
}
